.env*
.venv/
__pycache__/
*.pyc
*.egg-info/
.DS_Store
.mlx_cache/

data/*
!data/samples/

!data/.gitkeep

trajectories/*
!trajectories/.gitkeep*.sh # or just Miniforge3-MacOSX-arm64.sh if you want to be narrower
